<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ mix('css/app.css') }}">
        <title>Connnect</title>
    </head>
    <body class="font-sans">
        {% block content %}{% endblock %}

        <script src="{{ mix('js/app.js') }}"></script>
    </body>
</html>
