{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SlackPeople plugin for Craft CMS 3.x
 *
 * People Field Input
 *
 * @author    Michael Stivala
 * @copyright Copyright (c) 2018 Michael Stivala
 * @link      https://michaelstivala.com
 * @package   SlackPeople
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}}
