{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SlackPeople plugin for Craft CMS
 *
 * People Field Settings
 *
 * @author    Michael Stivala
 * @copyright Copyright (c) 2018 Michael Stivala
 * @link      https://michaelstivala.com
 * @package   SlackPeople
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("connnect\\slackpeople\\assetbundles\\slackpeople\\SlackPeopleAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
