{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SlackPeople plugin for Craft CMS 3.x
 *
 * SlackPeople index.twig
 *
 * @author    Michael Stivala
 * @copyright Copyright (c) 2018 Michael Stivala
 * @link      https://michaelstivala.com
 * @package   SlackPeople
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("connnect\\slackpeople\\assetbundles\\slackpeople\\SlackPeopleAsset") %}
{% do view.registerAssetBundle("connnect\\slackpeople\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}


{% set title = "Employees" %}

{% set pluginCpUrl = url('slack-people') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@connnect/slackpeople/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set content %}
    <h2>Connnect - Slack</h2>

    <div>
        <h4>Sync Users</h4>
        <p>Syncing users retrieves the users from Slack and updates or creates new users here.</p>

        <form method="POST">
            {{ csrfInput() }}
            <input type="submit" class="btn submit" value="Sync Users">
            <input type="hidden" name="action" value="slack-people/jobs/sync-users">
        </form>
        <p><i>Alternatively, a cron job can be scheduled to call the following URL to trigger the task: <code>{{ actionUrl('slack-people/jobs/sync-users') }}</code></i>.</p>
    </div>
{% endset %}
