{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SlackPeople plugin for Craft CMS 3.x
 *
 * SlackPeople Settings.twig
 *
 * @author    Michael Stivala
 * @copyright Copyright (c) 2018 Michael Stivala
 * @link      https://michaelstivala.com
 * @package   SlackPeople
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("connnect\\slackpeople\\assetbundles\\slackpeople\\SlackPeopleAsset") %}

{{ forms.textField({
    label: 'Slack OAuth Token',
    instructions: '<a href="#">Get Connnect Slack app key.</a>',
    id: 'apiKey',
    name: 'apiKey',
    value: settings['apiKey']})
}}
