{% extends './layouts/_app' %}
{% requireLogin %}

{% block content %}

{% for block in entry.header.all() %}
    {% include('partials/pageHeaders/_' ~ block.type) %}
{% endfor %}

<div class="container mx-auto my-4 px-2">
    {% for location in entry.locations.all() %}
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">{{ location.title }}</span>
    {% endfor %}
    {% for team in entry.teams.all() %}
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">{{ team.title }}</span>
    {% endfor %}
</div>

{% for block in entry.pageContent.all() %}
    {% for field in block.getFieldLayout.fields %}
        {% include('partials/pageContent/_' ~ field.handle) %}
    {% endfor %}
{% endfor %}

{% endblock %}
