<div class="min-h-screen-1/2 bg-center bg-cover flex items-center justify-center relative bg-grey-dark" {% if block.image|length %}style="background-image: url({{ block.image.one().getUrl('hero') }})"{% endif %}>
    <div class="absolute pin opacity-25 bg-black"></div>
    <h1 class="text-white mx-2 text-center relative">{{ entry.title }}</h1>
</div>