{% extends './layouts/_app' %}
{% requireLogin %}

{% block content %}

<div class="container mx-auto mt-8">
    Hello there {{ currentUser }}.
    <p class="mt-8">
        <h2 class="mb-4">Business</h2>
        {% for entry in craft.entries().section('business').all() %}
            <div class="flex items-center">
                <a href="{{ url(entry.url) }}">{{ entry.title }}</a>
            </div>
        {% endfor %}
    </p>
</div>
{% endblock %}
