{% extends './layouts/_app' %}
{% requireLogin %}

{% block content %}

<div class="notifications">
    {% for type in ['notice', 'error'] %}
        {% set message = craft.app.session.getFlash(type) %}
        {% if message %}
            <div class="notification">{{ message }}</div>
        {% endif %}
    {% endfor %}
</div>

<div class="container mx-auto mt-8">
    Hello there {{ currentUser }}.
    <p class="mt-4">
        <a href="{{ logoutUrl }}">Logout</a>
        <a href="/people">People</a>
        <a href="/locations">Locations</a>
        <a href="/culture">Culture</a>
        <a href="/business">Business</a>
    </p>

    <h2 class="my-4">Feed</h2>
    {% set heading = "" %}
    {% for entry in craft.entries().section(['culture', 'business']).all() %}
        <div class="my-2">
            {% if entry.postDate|date('Y-m-d') == now|date('Y-m-d') %}
                {% set tempHeading = "Today" %}
            {% elseif entry.postDate|date('Y-m-d') == now|date_modify("-1 day")|date('Y-m-d') %}
                {% set tempHeading = "Yesterday" %}
            {% else %}
                {% set tempHeading = "Past" %}
            {% endif %}

            {% if tempHeading != heading %}
                {% set heading = tempHeading %}
                <div class="font-bold text-sm mb-1 mt-4">{{ heading }}</div>
            {% endif %}

            <div>
                <a href="{{ url(entry.url) }}">{{ entry.title }}</a>
            </div>
            <div class="my-2">
                {% for location in entry.locations.all() %}
                    <span class="inline-block rounded-full px-3 py-1 text-xs font-semibold mr-2 {{ location.id in currentUser.employeeLocation.all()|group('id')|keys ? 'bg-blue text-white' : 'bg-grey-lighter text-grey-darker' }}">{{ location.title }}</span>
                {% endfor %}
                {% for team in entry.teams.all() %}
                    <span class="inline-block rounded-full px-3 py-1 text-xs font-semibold mr-2 {{ team.id in currentUser.teams.all()|group('id')|keys ? 'bg-blue text-white' : 'bg-grey-lighter text-grey-darker' }}">{{ team.title }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
