{% extends './layouts/_app' %}
{% requireLogin %}

{% block content %}

<div class="notifications">
    {% for type in ['notice', 'error'] %}
        {% set message = craft.app.session.getFlash(type) %}
        {% if message %}
            <div class="notification">{{ message }}</div>
        {% endif %}
    {% endfor %}
</div>

<div class="container mx-auto mt-8">
    Hello there {{ currentUser }}.
    <p class="mt-8">
        <h2 class="mb-4">Locations</h2>
        {% for location in craft.entries().section('locations').all() %}
            <div class="flex items-center">
                <a href="{{ location.url }}">{{ location.title }}</a>
            </div>
        {% endfor %}
    </p>
</div>
{% endblock %}
