{% extends './layouts/_app' %}

{% block content %}

<div class="notifications">
    {% for type in ['notice', 'error'] %}
    {% set message = craft.app.session.getFlash(type) %}
    {% if message %}
    <div class="notification">{{ message }}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="bg-blue min-h-screen flex items-center justify-center">

    <div class="text-center">
        <div class="mb-8">
            <img src="/assets/images/logo.png" alt="Connnect" class="w-32">
        </div>
        <div class="inline-block">
            <a href="{{ craft.social.getLoginUrl('google') }}" class="bg-white shadow-md rounded-full pl-4 pr-6 py-3 mb-6 text-center no-underline text-blue font-sans flex flex-row items-center text-sm">
                    <div><img src="/assets/images/google.svg" class="block w-4 mr-3"></div>
                    <p>Login with Google</p>
            </a>
        </div>
        <p class="text-center text-white text-xs">
            ©{{ now|date('Y')}} Connnect.io. All rights reserved.
        </p>
    </div>
</div>
{% endblock %}