{% extends './layouts/_app' %}
{% requireLogin %}

{% block content %}

<div class="notifications">
    {% for type in ['notice', 'error'] %}
        {% set message = craft.app.session.getFlash(type) %}
        {% if message %}
            <div class="notification">{{ message }}</div>
        {% endif %}
    {% endfor %}
</div>

<div class="container mx-auto mt-8">
    Hello there {{ currentUser }}.
    <p class="mt-8">
        <h2 class="mb-4">People</h2>
        {% for user in craft.users().group('employees').all() %}
            <div class="flex items-center">
                {% if user.photo|length %}
                <div class="my-1">
                    <img src="{{ user.photo.getUrl() }}" class="rounded-full w-12 mr-2" />
                </div>
                {% endif %}
                {{ user.firstName }}
            </div>
        {% endfor %}
    </p>
</div>
{% endblock %}
