{% extends './layouts/_app' %}
{% requireLogin %}

{% block content %}

<div class="container mx-auto my-4 px-2">
    {{ entry.title }}
    

    <p class="mt-4">
        {{ entry.location }}
    </p>
    <div id="map" class="my-4" style="height:300px"></div>
    <script>
      var map;
      var loc = {lat: {{ entry.location.lat }}, lng: {{ entry.location.lng }}};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: loc,
          zoom: 14
        });
        var marker = new google.maps.Marker({position: loc, map: map});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBya0hoWF15MvT4engeM08YgP_uVCUdvg&callback=initMap"
    async defer></script>
</div>

{% for block in entry.pageContent.all() %}
    {% for field in block.getFieldLayout.fields %}
        {% include('partials/pageContent/_' ~ field.handle) %}
    {% endfor %}
{% endfor %}

{% endblock %}
